@media screen and (max-height: 650px) and (max-width: 768px) {
  .cart-popup {
    height: calc(100vh - 100px); }
    .cart-popup .cart-popup__price-btn {
      width: calc(100% - 20px);
      left: 10px;
      bottom: 9px; }
    .cart-popup .cart-popup__list {
      height: calc(100% - 44px); } }
@media screen and (max-width: 1400px) {
  .main-feedback__card {
    padding: 34px 23px 36px 23px;
    width: auto; }

  .main-feedback__slider {
    padding-top: 10px; }
    .main-feedback__slider .slick-slide {
      -webkit-transform: scale(0.87);
              transform: scale(0.87); }

  h1 {
    font-size: 42px; }

  .header-main__offer {
    padding-left: 0; }
    .header-main__offer .sub-header {
      font-size: 21px; }

  .nav-sub__list {
    -webkit-column-gap: 16px;
            column-gap: 16px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(7, auto);
    grid-auto-flow: dense; }

  .shop-filter {
    margin-right: 2em;
    width: 285px; }

  .shop_bySarms {
    margin-left: 30px; }
    .shop_bySarms .shop__wrapper {
      gap: 40px; }
      .shop_bySarms .shop__wrapper > li {
        width: 200px; }
    .shop_bySarms .shop-card img {
      height: 200px; }

  .rangeslider .noUi-handle {
    right: -17px; }

  .product-page__img-section {
    padding-left: 0; }
  .product-page__wrapper {
    grid-template-columns: 50% 50%; }

  .recently-products .slick-slide {
    margin: 49px 40px;
    margin-bottom: 100px; }
  .recently-products .slick-list {
    padding: 0 20px; }

  .recently-products .shop_category .shop-card::before {
    height: calc(100% + 85px);
    top: 8px; }

  .reply__wrapper textarea {
    width: calc(65% - 30px); }

  .reply__inputs {
    width: 35%; } }
@media screen and (max-width: 1200px) {
  .header-main {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden; }
    .header-main__product {
      position: relative;
      right: 140px;
      width: 40%;
      z-index: -1; }
      .header-main__product img {
        width: auto; }

  .triggers {
    padding-top: 50px;
    padding-bottom: 50px; }
    .triggers__list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .triggers li {
      max-width: 300px; }

  .nav-main__menu {
    margin-right: 170px; }
    .nav-main__menu li:not(:last-child) {
      margin-right: 10px; }
  .nav-search {
    width: 150px; }

  .nav-search.search-open {
    width: 72%; }
    .nav-search.search-open .nav-search__result-wrapper button {
      font-size: 14px; }
    .nav-search.search-open .nav-search__result-wrapper ul {
      margin-top: 15px; }
      .nav-search.search-open .nav-search__result-wrapper ul li::before {
        width: 15px;
        height: 15px; }
    .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-title {
      font-size: 15px; }
    .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-price {
      font-size: 18px; }

  .shop_mainPage {
    margin-top: 55px; }
    .shop_mainPage .shop-card {
      width: 290px; }
      .shop_mainPage .shop-card img {
        max-width: 210px;
        max-height: 210px;
        width: 100%;
        height: auto; }
      .shop_mainPage .shop-card__title {
        font-size: 15px; }
      .shop_mainPage .shop-card__price-value {
        font-size: 18px; }

  .main-description {
    margin-top: 100px; }
    .main-description__text {
      margin-left: 2em;
      padding-left: 0; }
      .main-description__text::before {
        display: none; }

  .main-follow {
    padding: 100px 0; }

  .footer__item .btn {
    width: 142px; }
  .footer__wrapper {
    grid-template-columns: auto auto auto auto 200px; }

  .shop__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 24px; }

  .popup-nav-cart {
    right: -10px; }

  .shop_bySarms {
    margin-left: 20px; }
    .shop_bySarms .shop__wrapper {
      grid-template-columns: 1fr 1fr;
      gap: 40px 60px; }
    .shop_bySarms .shop__wrapper > li {
      width: 100%; }
    .shop_bySarms .shop-card img {
      height: 200px; }

  .product-page .attribute-pa_day-supply .value {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto); }
  .product-page .slider-single__item {
    width: 304px;
    height: 304px; }
  .product-page .slider-vertical__item {
    width: 69px;
    height: 69px; }
  .product-page__slider-vertical .slick-slide:not(:last-child) {
    margin-bottom: 7px; }

  .recently-products {
    padding-bottom: 100px; }
    .recently-products .shop_category .shop-card::before {
      height: calc(100% + 85px);
      top: -4px; }

  .cart-page aside {
    margin-left: 0;
    margin-top: 50px;
    max-width: 525px; }
  .cart-page__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .cart-page__cart-form-total {
    max-width: unset;
    width: 100%;
    margin-bottom: 0px; }

  .blog-cart_mailing {
    padding: 10px 15px; }

  .blog-main-prospekt {
    padding-top: 10px; }
    .blog-main-prospekt__big {
      padding-right: 25px; }
    .blog-main-prospekt__aside {
      padding-left: 25px; }

  .blog-latest__wrapper .blog-cart {
    width: 31%; }

  .reply__wrapper textarea {
    width: calc(65% - 20px);
    margin-right: 20px; }

  .reply__inputs {
    width: 35%; } }
@media screen and (max-width: 992px) {
  body {
    padding-top: 105px; }

  h1 {
    font-size: 34px;
    line-height: 130%; }

  h2 {
    font-size: 30px; }

  .header-main__product {
    right: 53px;
    width: 38%;
    margin-top: 20px; }
    .header-main__product img {
      width: 400px; }
  .header-main__offer {
    padding-bottom: 7px; }
    .header-main__offer .sub-header {
      font-size: 19px; }

  .shop_mainPage h2 {
    margin-bottom: 0px; }
  .shop_mainPage .shop-card {
    width: 100%;
    padding: 25px 20px 20px 20px; }
  .shop_mainPage .shop__wrapper {
    gap: 10px 30px; }

  .shop__wrapper {
    gap: 10px 12px; }

  .main-description {
    margin-top: 120px; }
    .main-description__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main-description__img {
      width: 100%;
      height: 290px; }
    .main-description__text {
      padding-left: 0;
      margin-left: 0;
      max-width: unset;
      margin-top: 40px; }

  .main-goal__btn {
    width: 100%; }

  .main-feedback__card {
    max-width: 460px; }

  .main-follow {
    padding: 80px 0; }

  .triggers {
    padding-top: 40px;
    padding-bottom: 40px; }
    .triggers li {
      max-width: 220px; }
    .triggers__list {
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
    .triggers__card {
      height: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .triggers__card p {
        margin-bottom: 0; }

  .logo {
    width: 125px; }

  .nav {
    height: 105px; }

  .nav-main .nav-main__menu {
    margin-right: 40px; }
    .nav-main .nav-main__menu li:not(:last-child) {
      margin-right: 2px; }

  .nav-sub__menu .nav-main__menu a {
    font-size: 12px;
    font-weight: 600; }
    .nav-sub__menu .nav-main__menu a.current {
      font-size: 15px;
      font-weight: bold; }

  .nav-sub__list {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: dense; }

  .nav-search {
    margin: 0 3px;
    width: 32px; }
    .nav-search__field {
      width: 0;
      border: none;
      -webkit-transition: none;
      transition: none; }
    .nav-search input {
      width: 0;
      padding: 0;
      border: none;
      -webkit-transition: none;
      transition: none; }
    .nav-search .nav-search__btn {
      display: block;
      position: absolute;
      right: 0;
      opacity: 1;
      z-index: 0;
      -webkit-transition: opacity 0.4s ease 0.2s;
      transition: opacity 0.4s ease 0.2s; }
    .nav-search.search-open .nav-search__btn {
      opacity: 0;
      z-index: -1; }
    .nav-search.search-open .nav-search__field {
      -webkit-transition: none;
      transition: none; }
    .nav-search__result-suggestion {
      padding-right: 23px; }

  .btn-cart {
    margin-left: 7px; }

  .footer__wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 40px 0px;
    grid-template-areas: "track touch quick shop" "checkout checkout join join" "copy copy copy copy"; }
  .footer__checkout-img {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .shop_bySarms {
    margin-left: 0;
    width: 100%; }
    .shop_bySarms .shop__wrapper {
      grid-template-columns: 44% 44%;
      gap: 30px 0px; }
    .shop_bySarms .shop-card img {
      height: 180px; }
    .shop_bySarms .shop-card__title {
      font-size: 12px; }

  .shop-filter {
    width: 200px;
    padding-left: 11px;
    padding-right: 11px; }

  .noUi-horizontal .noUi-handle {
    right: -9px; }

  .product-page__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "header header" "img img" "price price" "delivery delivery" "qty qty" "triggers triggers"; }
  .product-page__img-section {
    padding-left: unset;
    padding-right: unset;
    margin-bottom: 30px; }
  .product-page .slider-single__item {
    width: 364px;
    height: 364px; }
  .product-page .slider-vertical__item {
    width: 79px;
    height: 79px; }
  .product-page__slider-vertical .slick-slide:not(:last-child) {
    margin-bottom: 14px; }

  .blog-main-prospekt__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog-main-prospekt__big {
    padding-right: 0;
    margin-bottom: 50px;
    max-width: 686px;
    width: 100%; }
  .blog-main-prospekt__aside {
    max-width: 686px;
    width: 100%;
    padding-left: 0;
    border: none; }

  .blog-cart_mailing {
    margin-bottom: 50px; }

  .blog-latest h3 {
    margin-bottom: 20px; }

  .blog-latest__wrapper .blog-cart {
    width: 47%; }

  .interested__wrapper {
    width: 100%; } }
@media screen and (max-width: 768px) {
  .header-main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  body {
    padding-top: 60px; }

  .header-main__product {
    right: 0;
    width: 100%;
    margin-top: 30px; }
    .header-main__product img {
      width: 100%; }

  .nav {
    height: 59px;
    position: fixed; }
    .nav-main__menu a:hover::before {
      opacity: 0; }
    .nav .logo {
      height: 36px;
      width: 111px; }
    .nav-search {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      right: unset;
      left: 45px; }
      .nav-search.search-open {
        width: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        position: absolute;
        margin: 0;
        border: none;
        border-radius: 0; }
        .nav-search.search-open input {
          margin-right: 32px;
          margin-left: 60px;
          width: calc(100% - 32px - 60px);
          border-bottom: none;
          background: transparent; }
          .nav-search.search-open input::-webkit-input-placeholder {
            /* Edge */
            color: #FFFFFF; }
          .nav-search.search-open input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #FFFFFF; }
          .nav-search.search-open input::-ms-input-placeholder {
            color: #FFFFFF; }
          .nav-search.search-open input::placeholder {
            color: #FFFFFF; }
        .nav-search.search-open .nav-search__field {
          border: none;
          border-radius: 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .nav-search.search-open .nav-search__field::before {
            content: '';
            width: 1000%;
            height: 100%;
            display: block;
            position: absolute;
            left: -100%;
            top: 0;
            background-color: #fff;
            z-index: -1; }
          .nav-search.search-open .nav-search__field .btn-close {
            display: block;
            right: 0px;
            top: 5px;
            width: 36px;
            height: 36px;
            position: absolute;
            opacity: 1;
            z-index: 0;
            -webkit-transform: translateY(0);
                    transform: translateY(0); }
            .nav-search.search-open .nav-search__field .btn-close span {
              width: 25px; }
              .nav-search.search-open .nav-search__field .btn-close span:last-child {
                -webkit-transform: rotate(-45deg) translate(4px, 4px);
                        transform: rotate(-45deg) translate(4px, 4px); }
        .nav-search.search-open .nav-search__result-wrapper .nav-search__result-suggestion {
          display: none; }
        .nav-search.search-open .nav-search__result-wrapper .nav-search__result-title {
          display: none; }
      .nav-search .nav-search__btn {
        -webkit-transition: opacity 0.4s ease 0.3s;
        transition: opacity 0.4s ease 0.3s; }
      .nav-search .nav-search__field .btn-close {
        -webkit-transition: opacity 0s ease 0.3s;
        transition: opacity 0s ease 0.3s;
        -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px); }
    .nav-main {
      padding-top: 12px;
      padding-bottom: 11px; }
      .nav-main .btn-user {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: 40px; }
      .nav-main.mobile-search-open {
        width: 100%;
        height: 60px; }
        .nav-main.mobile-search-open::before {
          position: fixed;
          top: 0;
          left: 0;
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          z-index: -1; }
        .nav-main.mobile-search-open .nav-search__field .logo {
          display: block;
          width: 58px;
          height: 18px;
          position: absolute;
          top: 12px;
          left: 0; }
    .nav .logo {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .nav .menu__burger-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .nav-main__menu, .nav-sup {
      display: none; }
    .nav-sub__wrapper {
      position: relative; }
      .nav-sub__wrapper.opened .nav-sub__mobile-nav {
        height: 50px; }
        .nav-sub__wrapper.opened .nav-sub__mobile-nav .logo {
          display: none; }
      .nav-sub__wrapper.opened .nav-sub__item.visible {
        border: none;
        padding-left: 0;
        padding-top: 25px; }
        .nav-sub__wrapper.opened .nav-sub__item.visible .nav-sub__list {
          grid-template-columns: repeat(1, auto);
          grid-template-rows: repeat(auto-fit, 30px);
          height: calc(100vh - 137px);
          overflow: scroll; }
      .nav-sub__wrapper.opened .nav-sub__menu {
        margin-bottom: 0;
        padding-top: 0; }
        .nav-sub__wrapper.opened .nav-sub__menu .nav-main__menu .menu-dropdown::after {
          -webkit-box-ordinal-group: 0;
              -ms-flex-order: -1;
                  order: -1;
          margin-left: 0;
          margin-right: 10px;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
      .nav-sub__wrapper.opened .nav-main__menu a {
        display: none; }
        .nav-sub__wrapper.opened .nav-main__menu a:hover::before {
          opacity: 0; }
        .nav-sub__wrapper.opened .nav-main__menu a.current {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: absolute;
          top: 10px;
          left: 0; }
          .nav-sub__wrapper.opened .nav-main__menu a.current:hover::before {
            opacity: 0; }
          .nav-sub__wrapper.opened .nav-main__menu a.current::before {
            display: none; }
    .nav-sub__footer {
      display: none; }
    .nav-sub__menu {
      padding-top: 20px;
      margin-bottom: 50px; }
    .nav-sub__mobile-nav {
      display: none; }
    .nav-sub.visible {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%; }
      .nav-sub.visible .nav-sub__mobile-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        padding-top: 9px;
        border-bottom: 1px solid #000000;
        padding-bottom: 10px; }
        .nav-sub.visible .nav-sub__mobile-nav .btn-close {
          position: absolute;
          right: 0; }
        .nav-sub.visible .nav-sub__mobile-nav .logo {
          width: 95px;
          height: 30px; }
    .nav-sub__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }

  .btn-cart {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-right: 10px; }

  .shop__wrapper {
    grid-template-columns: 1fr 1fr; }

  .main-goal__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .main-goal__btn:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px; }

  .triggers__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .triggers li {
    max-width: unset;
    margin-bottom: 20px; }
    .triggers li:last-child {
      margin-bottom: 0; }
  .triggers__card p {
    max-width: 410px; }

  .footer__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "touch touch track track" "quick quick shop shop" "join join join join" "checkout checkout checkout checkout" "copy copy copy copy"; }
  .footer__item:nth-child(5) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .footer__subscribe-form {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__subscribe-form input {
      width: 90%; }
  .footer__checkout-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .main-follow__card p {
    max-width: 90%; }

  .breadcrumbs {
    margin-bottom: 20px; }

  .header-regular h3 {
    display: none; }
  .header-regular.header-blog h3 {
    display: block; }

  .bySarms-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .shop-filter {
    display: none;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
    max-width: 360px;
    margin-right: 0; }
    .shop-filter__mobile-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

  .noUi-horizontal .noUi-handle {
    right: -23px; }

  .shop__sorting-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px; }
    .shop__sorting-wrapper .select-box {
      width: 100%;
      max-width: 360px; }

  .popup-dropdown_login {
    top: 50px; }

  .review-section__item {
    padding: 18px 25px 15px 10px; }
  .review-section__avatar {
    margin-right: 20px; }
  .review-section__form-line {
    padding-left: 0; }

  .recently-products .shop-card {
    max-width: 300px; }

  .steps-section {
    margin-top: 20px; }

  .cart-list__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 30px 10px 30px; }

  .cart-list__piece:first-child {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px; }

  .cart-list__piece-title {
    margin-bottom: 0; }

  .attribute-pa_day-supply .value {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto); }

  .reply__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .reply__wrapper textarea {
      width: 100%;
      margin-right: 0; }

  .reply__inputs {
    width: 100%;
    margin-top: 10px; }
    .reply__inputs input {
      margin-bottom: 10px; }

  .reply__checkbox {
    margin-bottom: 10px; }
    .reply__checkbox input {
      margin-bottom: 0; }
    .reply__checkbox span {
      margin-top: 7px; } }
@media screen and (max-width: 576px) {
  .shop__wrapper {
    grid-template-columns: 1fr; }

  .btn-cart {
    margin-right: 10px; }

  .nav-main .btn-user {
    right: 40px; }
  .nav-main .popup-dropdown .popup-wrapper.popup-dropdown_user::before {
    right: 32px; }

  .nav-search {
    left: 40px; }

  .main-follow__card {
    font-size: 14px; }

  .popup-nav-cart {
    right: 0px; }

  .shop_mainPage .shop-card {
    max-width: 330px; }

  .shop_bySarms {
    padding: 0 15px; }
    .shop_bySarms .shop__wrapper {
      gap: 30px 35px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

  .popup-feedback {
    width: calc(100% - 70px);
    max-width: 424px; }

  .product-page__out {
    display: none; }
  .product-page__price-value .product-page__out {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .product-page .slider-single__item {
    width: calc(100vw - 132px);
    height: 364px; }
  .product-page__price-box {
    margin-bottom: 10px; }
  .product-page__btn-box {
    padding-top: unset; }
  .product-page__delivery-box {
    margin-bottom: 25px; }
  .product-page__qty-box {
    margin-bottom: 40px; }
  .product-page .product-page__triggers-box {
    margin-top: 40px; }
  .product-page__wrapper {
    grid-template-areas: "header header" "img img" "price price"  "delivery delivery" "qty qty"  "btn btn" "triggers triggers";
    grid-auto-flow: dense;
    grid-template-rows: repeat(7, auto); }

  .review-section__item {
    grid-template-areas: "avatar data" "content content"; }
  .review-section__date-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .review-section__date-post {
    margin-bottom: 10px;
    margin-left: 4px; }
  .review-section__avatar {
    margin-right: 13px; }
  .review-section__text-post {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px; }

  .blog-latest__wrapper .blog-cart {
    width: 100%; }

  .interested__line {
    margin-bottom: 15px; }
    .interested__line a {
      display: none; }
    .interested__line h3 {
      font-size: 20px; }

  .blog-main-prospekt:last-of-type {
    margin-bottom: 50px; } }
@media screen and (max-width: 464px) {
  .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__img {
    width: 100%;
    margin-right: 25px;
    max-width: 80px; }

  .shop_bySarms {
    margin-bottom: 40px;
    padding: 0; }
    .shop_bySarms .shop-card__title {
      font-size: 14px; }
    .shop_bySarms .shop__wrapper {
      grid-template-columns: 100%;
      margin-top: 56px; }
      .shop_bySarms .shop__wrapper > li {
        padding-bottom: 40px;
        width: 100%; }
    .shop_bySarms .shop-card__category-line li img {
      max-height: 35px;
      max-width: 35px; }
    .shop_bySarms .shop-card {
      max-width: 280px; }
      .shop_bySarms .shop-card__category-line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .shop_bySarms .shop-card img {
        height: 100%; }

  .popup-feedback {
    width: calc(100% - 30px);
    right: 15px;
    bottom: 15px;
    max-width: 424px; }

  .product-page__img-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .product-page__slider-single {
    margin: 0; }
  .product-page .slider-single__item {
    width: calc(100vw - 30px);
    height: calc(100vw - 30px); }
  .product-page__slider-vertical {
    width: 100%;
    height: 80px;
    margin-top: 20px; }
    .product-page__slider-vertical .slick-slide:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 2em; }
  .product-page__qty-radios fieldset {
    width: 50%; }
  .product-page__btn-item {
    width: 50%; }
  .product-page .woocommerce-variation-add-to-cart {
    width: 100%; }
    .product-page .woocommerce-variation-add-to-cart .product-page__btn-item {
      width: auto; }

  .tabs-section {
    margin-bottom: 70px; }

  .cart-totals__line {
    min-height: 60px; }
    .cart-totals__line.delivery-box {
      margin-top: 0;
      padding-top: 0; }
    .cart-totals__line.cart-totals__line_form {
      margin-top: 0;
      padding-top: 0; }
    .cart-totals__line h4 {
      font-size: 15px; }

  .coupon-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .coupon-input button {
      height: 45px; }

  .cart-totals_payment .cart-totals__line_security {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .cart-totals_payment .cart-totals__line_security fieldset:first-child {
      margin-bottom: 10px;
      margin-right: 0;
      width: calc(100% - 50px); }
    .cart-totals_payment .cart-totals__line_security fieldset:last-child {
      width: 100%; }
  .cart-totals_payment input {
    width: calc(25% - 5px); }

  .attribute-pa_day-supply .value {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto); } }
@media screen and (max-width: 400px) {
  .footer__wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "touch touch touch touch" "track track track track" "quick quick quick quick" "shop shop shop shop" "join join join join" "checkout checkout checkout checkout" "copy copy copy copy"; }
  .footer__item:nth-child(1), .footer__item:nth-child(2), .footer__item:nth-child(3), .footer__item:nth-child(4), .footer__item:nth-child(5) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .footer__subscribe-form {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__subscribe-form input {
      width: 90%; }
  .footer__checkout-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .footer__checkout-img img {
    width: 100%;
    height: 71px;
    -o-object-fit: contain;
       object-fit: contain; }

  .cart-popup {
    padding: 15px 10px 27px 10px; }
    .cart-popup__product {
      padding: 9px 15px 18px 15px; }
    .cart-popup__title {
      font-size: 14px; }
    .cart-popup__img {
      max-width: 55px;
      margin-right: 18px; }
    .cart-popup__price-btn {
      padding: 7px 8px 7px 20px; }
      .cart-popup__price-btn .btn {
        width: 150px;
        height: 45px; }

  .nav-search.search-open .nav-search__field {
    padding: 0 5px; }
  .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products ul li:not(:last-child) {
    margin-bottom: 15px; }
  .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__img {
    width: 100%;
    margin-right: 16px;
    max-width: 70px; }
  .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-title {
    font-size: 13px; }
  .nav-search.search-open .nav-search__result-wrapper .nav-search__result-products .result-products__text-price {
    font-size: 15px; }

  .popup-feedback .popup-feedback__body {
    padding: 30px 20px; }
    .popup-feedback .popup-feedback__body h3 {
      font-size: 21px; }

  .product-page .attribute-pa_day-supply .value {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto); }
    .product-page .attribute-pa_day-supply .value > div {
      width: 100%; }
  .product-page .variations {
    width: 100%; }
  .product-page__slider-vertical {
    margin-top: 10px; }
  .product-page__qty-box {
    margin-bottom: 30px; }
  .product-page__qty-radios fieldset {
    width: 100%; }
    .product-page__qty-radios fieldset label {
      width: 90%; }
      .product-page__qty-radios fieldset label::after {
        margin-left: auto; }
  .product-page .woocommerce-variation-add-to-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .product-page .woocommerce-variation-add-to-cart button {
      width: 100%; }
    .product-page .woocommerce-variation-add-to-cart .product-page__btn-item .btn.btn_blue {
      width: 100%; }
  .product-page__btn-item {
    width: 100%; }
    .product-page__btn-item button {
      width: 100%; }
    .product-page__btn-item small {
      margin-top: 5px; }
    .product-page__btn-item .shipping {
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .product-page__btn-item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px; }

  .cd-tabs-content {
    padding: 0 10px; }

  .steps-section__wrapper > div:not(:last-child)::after {
    width: 4em;
    margin: 0 11px; }

  .cart-list__piece:not(:last-child) {
    margin-right: 10px; }

  .cart-list__item {
    padding: 20px 20px 10px 17px; }

  .cart-totals__line img {
    width: 100%;
    height: auto; }
  .cart-totals__line_form {
    margin-top: 0; }

  .cart-form-total fieldset .select_tel select {
    width: 115px; }

  .cart-form-total__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .cart-form-total__flex fieldset {
      width: 100%; }
      .cart-form-total__flex fieldset:last-child {
        margin-left: 0; } }
@media screen and (max-width: 348px) {
  .product-page .slider-vertical__item {
    width: 69px;
    height: 69px; }

  .review-section__avatar {
    margin-right: 4px;
    width: 100px; }
    .review-section__avatar img {
      width: 80px;
      height: 80px; } }
@media screen and (max-width: 348px) {
  .nav-search {
    left: 35px; }

  .nav-main .btn-user {
    right: 35px; }
  .nav-main .logo {
    margin-left: 12px; }
  .nav-main .popup-dropdown .popup-wrapper.popup-dropdown_user::before {
    right: 27px; }

  .noUi-horizontal .noUi-handle {
    right: -74%; }

  .popup-dropdown_login {
    width: 100%; } }

/*# sourceMappingURL=media.css.map */